<!-- Header.html -->
<div class="header-header-wrapper" th:fragment="header">
    <div class="header-header-content-main-page">
        <p>Strona Główna</p>
    </div>
    <div class="header-header-content-wrapper">
        <div class="header-header-content-div">
            <p>Cos 2</p>
        </div>
        <div class="header-header-content-div">
            <p>Cos 3</p>
        </div>
        <div class="header-header-content-div">
            <p>Cos 4</p>
        </div>
        <div class="header-header-content-div">
            <p>Cos 5</p>
        </div>
    </div>
</div>