<!-- Header.html -->
<header class="header-section" th:fragment="headerFragment">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom-nav-container">
            <a class="navbar-brandName" th:redirect="@{/home/Home}">Nazwa Parku</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-menu">
                    <li class="navbar-item active">
                        <a class="nav-link" th:href="@{/}">Strona Główna</a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link" th:href="@{../atrakcje}">Atrakcje</a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link" th:href="@{/bilety}">Bilety</a>
                    </li>
                </ul>
                <div class="navbar-user-option-box">
                    <a class="nav-link" th:href="@{/login}">
                            <i class="fa fa-user"></i>
                        </a>
                </div>
            </div>
        </nav>
    </div>
</header>