<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Pracownicy</title>
    <link rel="stylesheet" th:href="@{/css/admin/attractionsAdmin.css}">
</head>
<body>
<div class="container">
    <h1>Edit Pracownicy</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pracownik : ${pracownicy}">
            <td th:text="${pracownik.imie + ' ' + pracownik.nazwisko}"></td>
            <td>
                <a class="edit" th:href="@{../pracownicy/update/{id}(id=${pracownik.nrPracownika})}">Edit</a>
                <a class="remove" th:href="@{../pracownicy/remove/{id}(id=${pracownik.nrPracownika})}">Usun</a>
            </td>
        </tr>
        <tr>
            <a class="add" th:href="@{../pracownicy/addNew}">Add</a>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>